---
action: 'shop:product'
template: inner
protocol: all
published: true
name: Product
url: '/product/:urlName/'
---
<div itemscope itemtype="http://schema.org/Product">
	
	<!--
	<div id="banner" class="jumbotron row">
		<h1 itemprop="name">{{ product.name }}</h1>
		<p itemprop="description">{{ product.short_description|unescape }}</p>
	</div>
	-->

    {% if product.id == 7 %}
    	<nav class="sub-nav">
            <ul>
              <li><a class="jsScrollTo" href="#single-product">Overview</a></li>
              <li><a class="jsScrollTo" href="#phonesafe">Safe</a></li>
              <li><a class="jsScrollTo" href="#hereshow">UV Light</a></li>
              <li><a class="jsScrollTo" href="#howeffective">Effective</a></li>
              <li><a class="jsScrollTo" href="#chargeany">Charger</a></li>
              <li><a class="jsScrollTo" href="#imawake">Audio Output</a></li>
              <li><a class="jsScrollTo" href="#clean-anything">Universal Cleaner</a></li>
              <li><a class="jsScrollTo" href="#instructions">Instructions</a></li>
              <li><a class="jsScrollTo" href="#specifications">Specs</a></li>
              <li class="buy-now"><a class="jsScrollTo" href="#single-product">PhoneSoap 2.0</a></li>
            </ul>
        </nav>
    {% elseif product.id == 27 %}
        <nav class="sub-nav">
            <ul>
              <li><a class="jsScrollTo" href="#single-product">Overview</a></li>
              <li><a class="jsScrollTo" href="#germguardsummary">Germ Killing</a></li>
              <li><a class="jsScrollTo" href="#germresistant">How?</a></li>
              <li><a class="jsScrollTo" href="#thinnest">World's Thinnest</a></li>
              <li><a class="jsScrollTo" href="#checkoutcharger">UV Solution</a></li>
              <li class="buy-now"><a class="jsScrollTo" href="#single-product">GermGuard</a></li>
            </ul>
        </nav>
    {% elseif product.id == 9 %}
        <nav class="sub-nav">
            <ul>
                <li><a class="jsScrollTo" href="#single-product">Overview</a></li>
                <li><a class="jsScrollTo" href="#first">First Time</a></li>
                <li><a class="jsScrollTo" href="#smudge">Smudge Free </a></li>
                <li><a class="jsScrollTo" href="#natural">All Natural </a></li>
                <li><a class="jsScrollTo" href="#lasting">Long Lasting </a></li>
                <li><a class="jsScrollTo" href="#instructions-polish">Instructions</a></li>
                <li><a class="jsScrollTo" href="#polishspecs">Specifications</a></li>
                <li class="buy-now"><a class="jsScrollTo" href="#single-product">PhoneSoap Polish</a></li>
            </ul>
        </nav>
    {% elseif product.id == 11 %}
        <nav class="sub-nav">
            <ul>
                <li><a class="jsScrollTo" href="#single-product">Overview</a></li>
                <li><a class="jsScrollTo" href="#patch1">Polish Companion</a></li>
                <li><a class="jsScrollTo" href="#patch2">Idea That Sticks</a></li>
                <li><a class="jsScrollTo" href="#patch3">Instructions</a></li>
                <li class="buy-now"><a class="jsScrollTo" href="#single-product">PhoneSoap Patch</a></li>
            </ul>
        </nav>
    {% elseif product.id == 34 %}
        <nav class="sub-nav">
            <ul>
                <li><a class="jsScrollTo" href="#single-product">Overview</a></li>
                <li><a class="jsScrollTo" href="#cabletwist">Flexible Silicone </a></li>
                <li><a class="jsScrollTo" href="#cablespec">Specifications</a></li>
                <li><a class="jsScrollTo" href="#checkoutcharger">Charging Station</a></li>
                <li class="buy-now"><a class="jsScrollTo" href="#single-product">BUY NOW</a></li>
            </ul>
        </nav>
    {% elseif product.id == 6 %}
        <nav class="sub-nav">
            <ul>
                <li><a class="jsScrollTo" href="#single-product">Overview</a></li>
                <li><a class="jsScrollTo" href="#iring1">Stand</a></li>
                <li><a class="jsScrollTo" href="#iring2">Grip</a></li>
                <li><a class="jsScrollTo" href="#iring3">Orientation</a></li>
                <li><a class="jsScrollTo" href="#iring4">Tablets Too</a></li>
                <li><a class="jsScrollTo" href="#iring5">Extended Reach</a></li>
                <li><a class="jsScrollTo" href="#iring6">Hook</a></li>
                <li><a class="jsScrollTo" href="#iring7">Specifications</a></li>
                <li class="buy-now"><a class="jsScrollTo" href="#single-product">iRing</a></li>
            </ul>
        </nav>
    {% elseif product.id == 36 %}
        <nav class="sub-nav">
            <ul>
                <li><a class="jsScrollTo" href="#single-product">Overview</a></li>
                <li><a class="jsScrollTo" href="#storemultiple">Lock & Store</a></li>
                <li><a class="jsScrollTo" href="#sanitizemultiple">Sanitize All</a></li>
                <li><a class="jsScrollTo" href="#chargemultiple">Charge & Sync</a></li>
                <li><a class="jsScrollTo" href="#tabletsoapcontact">Contact Us</a></li>
                <li><a class="jsScrollTo" href="#checkoutcharger">Single Solution </a></li>
                <li class="buy-now"><a class="jsScrollTo" href="#single-product">TabletSoap Locker</a></li>
            </ul>
        </nav>
  {% endif %}

	<section id="single-product" class="page-section">
		{{ code_block('breadcrumbs') }}

		{{ open_form({'class': 'custom', 'onsubmit': 'return false'}) }}
			{% if product %}
	
				<div class="row">
					<div id="product-images">
						{{ partial('shop-product-gallery') }}
					</div>
				
					
					<div id="product-page">
						{{ partial('shop-product') }}
					</div>
					  
				</div>
			
			{% else %}
				<h2>We are sorry, the requested product was not found.</h2>
			{% endif %}
		{{ close_form() }}
        
	</section>
  
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55cb84fec48c8121" async="async"></script>

  
	<!-- AddThis Button BEGIN -->
  <!--
  <div id="addThis" class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<h5>share with your friends</h5>
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_pinterest_share"></a>
		<a class="addthis_button_email"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa994f813fedc4b"></script>-->
	<!-- AddThis Button END -->
    
	{{ partial('shop-product-marketing') }}
</div>