<!-- FB Like code -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<!--Exit Monitor-->
<script type="text/javascript">
    (function(a,e,f,g,b,c,d){a[b]=a[b]||function(){
      (a[b].q=a[b].q||[]).push(arguments)};
      c=e.createElement(f);d=e.getElementsByTagName(f)[0];c.async=1;c.src=g;
      d.parentNode.insertBefore(c,d)
    })(window,document,"script","//cdn.app.exitmonitor.com/em.js","em");

    em('set', 'campaign', '5564dfa3383034000d030000');

</script>

<footer id="page-footer">
	<div class="container">
		<img class="footer-accent" src="{{ 'img/footer-icon-new.png'|theme_resource }}" alt="">
		<div class="footer-left">
			<div class="footer-left-content">
				<img class="footer-left-img" src="{{ 'img/join-revolution.png'|theme_resource }}" alt="">
				<p>See the latest tweets, posts, pics, and videos</p>
				<div class="social-icons">
					<a target="_blank" href="https://www.facebook.com/PhoneSoap"><img class="" src="{{ 'img/icon-fb.jpg'|theme_resource }}" alt=""></a>
					<a target="_blank" href="https://twitter.com/phonesoap"><img class="" src="{{ 'img/icon-twitter.jpg'|theme_resource }}" alt=""></a>
					<a target="_blank" href="https://www.youtube.com/user/PhoneSoap"><img class="" src="{{ 'img/icon-youtube.jpg'|theme_resource }}" alt=""></a>
					<a target="_blank" href="https://www.pinterest.com/phonesoap/"><img class="" src="{{ 'img/icon-pinterest.jpg'|theme_resource }}" alt=""></a>
					<a target="_blank" href="https://plus.google.com/+Phonesoap/posts"><img class="" src="{{ 'img/icon-googleplus.jpg'|theme_resource }}" alt=""></a>
					<a target="_blank" href="https://instagram.com/phonesoap/"><img class="" src="{{ 'img/icon-instagram.jpg'|theme_resource }}" alt=""></a>
					<br>
					<div class="fb-like" data-href="https://www.facebook.com/PhoneSoap" data-send="false" data-width="100px" data-show-faces="false"></div>
				</div><!-- end social-icons -->
			</div><!-- end footer-left-content -->
		</div><!-- end footer-left -->

		<div class="footer-right">
			<div class="footer-right-content">
				<img class="footer-right-img" src="{{ 'img/soapbox.png'|theme_resource }}" alt="">
				<p>Stay up to date on the latest news &amp; events</p>

				<form action="//PhoneSoap.us4.list-manage.com/subscribe/post?u=e48578b7e75491b9b512b2971&amp;id=9eb8699706" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mailchimp validate" target="_blank" novalidate>
					
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="EMAIL ADDRESS">
					
				  <input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="button">

					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>  

				  <div style="position: absolute; left: -5000px;"><input type="text" name="b_e48578b7e75491b9b512b2971_9eb8699706" tabindex="-1" value=""></div>
				  
				</form>

			</div><!-- end footer-right-content -->
		</div><!-- end footer-right -->		

		<!--
		<div class="footer-contact text-center row">
			<div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-3">
				<a href="#"><i class="fa fa-envelope-o"></i>info@boxie.com</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-2">
				<a href="#"><i class="fa fa-phone"></i>555.555.5555</a>
			</div>
			<div class="social-buttons col-xs-12 col-sm-4 col-lg-2">
				<a class="facebook" href="{{ theme.socialFacebookUrl}}"><i class="fa fa-facebook"></i></a>
				<a class="twitter" href="{{ theme.socialTwitterUrl }}"><i class="fa fa-twitter"></i></a>
				<a class="gplus" href="{{ theme.socialGoogleUrl }}"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
		<div class="footer-info wrap row">
			<div class="col-sm-6">
				<ul class="list-unstyled">
					<li>&copy; BOXIE! 2014</li>
					<li><a href="{{ site_url('terms') }}">Terms &amp; Conditions</a></li>
					<li><a href="{{ site_url('privacy') }}">Privacy Policy</a></li>
				</ul>
			</div>
		</div>-->
	</div><!-- end container -->

	<div class="footer-bottom">
		<div class="container">
			<div class="footer-bottom-item-wrapper">

				<div class="footer-bottom-item copyright">
 					<strong>©2015</strong><br>
			    <img class="" src="{{ 'img/footer-logo.png'|theme_resource }}" alt=""><br>
			    <span>933 E 1910 S Suite 100<br>Provo, UT 84606 - (855) 212-8416<br><a href="/privacy-policy">Legal &amp; Privacy Policies</a></span>
			  </div><!-- end footer-bottom-item -->

				<div class="footer-bottom-item">
					<a href="/product/phonesoap-charger">How to clean my cell phone?</a>
			  </div><!-- end footer-bottom-item -->

				<div class="footer-bottom-item">
					<a href="/how-dirty-are-cell-phones">How dirty is my cell phone?</a>
			  </div><!-- end footer-bottom-item -->

				<div class="footer-bottom-item">
					<a href="/how-does-uv-light-clean">How does UV light work?</a>
			  </div><!-- end footer-bottom-item -->

				<div class="footer-bottom-item">
					<a href="/warranty">Warranty &amp; Return Policy</a>
			  </div><!-- end footer-bottom-item -->

				<div class="footer-bottom-item">
					<a href="/contact">Contact PHONESOAP</a>
			  </div><!-- end footer-bottom-item -->

				<div class="footer-bottom-item">
					<a href="/phonesoap-wholesale-opportunitites">Wholesale Opportunities</a>
			  </div><!-- end footer-bottom-item -->

			</div><!-- footer-bottom-item-wrapper -->
		</div><!-- end container -->
	</div><!-- end footer-bottom -->

</footer>