<div class="seal-verification">
  <div class="AuthorizeNetSeal"><script type="text/javascript" language="javascript">var ANS_customer_id="1a1f6ca5-de80-475e-9480-521fba782a9d";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js"></script>
  <a class="authorize-seal" href="https://verify.authorize.net/anetseal/?pid=1a1f6ca5-de80-475e-9480-521fba782a9d&amp;rurl=https%3A//www.phonesoap.com/pay/54bb1b32722284ccf0438ce1e55a8651/" onmouseover="window.status='http://www.authorize.net/'; return true;" onmouseout="window.status=''; return true;" onclick="window.open('https://verify.authorize.net/anetseal/?pid=1a1f6ca5-de80-475e-9480-521fba782a9d&amp;rurl=https%3A//www.phonesoap.com/pay/54bb1b32722284ccf0438ce1e55a8651/','AuthorizeNetVerification','width=600,height=430,dependent=yes,resizable=yes,scrollbars=yes,menubar=no,toolbar=no,status=no,directories=no,location=yes'); return false;" target="_blank">
  </a>
  </div>

  <a class="paypal-seal" href="https://www.paypal.com/us/verified/pal=orders%40phonesoap%2ecom" target="_blank"><img src="https://www.paypal.com/en_US/i/icon/verification_seal.gif" border="0" alt="Official PayPal Seal" width="78" height="78"></a>

</div><!-- end seal-verification -->