{% set items_per_page = post('items_per_page')|default(12) %}
{% set displayVariantsCollection = 'display-variants'|collection %}
{% set ids = [] %}

		
{% for product in displayVariantsCollection.products %}
    {% set ids = ids|merge([product.id]) %}
{% endfor %}

{% paginate products by items_per_page %}
<div class="product-grid">
	<div id="" class="row">
		{% for product in pagination.items %}
		    {% set _index = loop.index %}
		    {% if product.id in ids %}
		        {% for variant in product.productVariants %}
		            {% if variant.in_stock_amount > 0 %}
    		            <div class="col-xs-12 col-sm-6 col-md-4 product-holder">
    		               
    			            {{ partial('shop-grid-item', {'product': product, 'variant': variant}) }}
    		            </div>
		            {% endif %}
		        {% endfor %}
		    {% else %}
		        <div class="col-xs-12 col-sm-6 col-md-4 product-holder">
		            
			        {{ partial('shop-grid-item', {'product': product}) }}
		        </div>
		    {% endif %}
		{% else %}
		    <div class="col-xs-12">
			    <h2 class="empty">Sorry, there are no products matching your request.</h2>
		    </div>
		{% endfor %}
	</div>
</div>
<div class="pagination-holder">
	{% navigation %}
</div>
{% endpaginate %}