<div id="cart-summary">
    {% if items.count %}
        <h3 class="cart-summary-title">Secure Checkout</h3>
        <ul class="price-list list-group">
            {% if totals.discountTotal > 0 %}
                <li class="list-group-item">Discount: <span class="badge">{{ totals.discountTotal|currency }}</span></li>
            {% endif %}
            <li class="list-group-item">Subtotal: <span class="badge">{{ totals.subtotal|currency }}</span></li>
            {% if totals.totalShippingQuote %}
            <li class="list-group-item order-shipping">Shipping: <span class="badge">{{ totals.totalShippingQuote|currency }}</span></li>
            {% endif %}
            <li class="list-group-item">Tax: <span class="badge">{{ totals.totalTax|currency }}</span></li>
            <li class="list-group-item order-total h4 clearfix"><span>Total:</span> <span class="badge">{{ totals.total|currency }}</span></li>
        </ul>

    {% else %}
        <h4 class="md-bordered-title">Your cart is empty!</h4>
        <a class="btn btn-primary col-xs-12" href="{{ site_url('shop') }}">Continue shopping <span class="fa fa-arrow-right"></span></a>
    {% endif %}
    
    <div>
        <p id=>Have a coupon code? Click here.</p>
        <form id="couponCodeForm" method="post" action="/cart">
            <input type="text" id="coupon-code" class="form-control" name="coupon" placeholder="Coupon Code" value="{{ coupon_code }}">
            <button>Apply</button>
        </form>
    </div>

    {{ partial("seal-verification") }}

</div>