<button id="writeReviewButton">Write a Review</button>
<div id="reviewForm" style="display:none;">
{{ flash() }}
{{ open_form({'data-ajax-handler': 'system:onSendMessage', 'data-test': 'true'}) }}

    <div class="row">
        <label>
            Rating
        </label>
        <div>
        <select id="item_rating" name="fields[item_rating]">
            <option value="" diabled>-</option>
            <option value="1">&starf;&star;&star;&star;&star;</option>
            <option value="2">&starf;&starf;&star;&star;&star;</option>
            <option value="3">&starf;&starf;&starf;&star;&star;</option>
            <option value="4">&starf;&starf;&starf;&starf;&star;</option>
            <option value="5">&starf;&starf;&starf;&starf;&starf;</option>
        </select>
            <span class="error"/>
        </div>
    </div>
    <div class="row">
        <div>
            Title
        </div>
        <div>
            <input type="text" id="subject" name="fields[subject]" value="" placeholder="Subject"/>
            <span class="error"/>
        </div>
    </div>
    <div class="row">
        
            <div class="col-xs-4 col-sm-3">Your Name</div>
            <div class="col-xs-4 col-sm-3">Email</div>
        
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            <input type="text" id="contact_name" name="fields[name]" value="" />
            <span class="error"/>
        </div>
        <div class="col-xs-4 col-sm-3">
            <input type="text" id="contact_email" name="fields[email]" value="" />
            <span class="error"/>
        </div>
    </div>

    <div class="row">
        <div>
            Review
        </div>
        <div>
            <textarea id="contact_message" name="fields[message]" value="" rows="10" ></textarea>
            <span class="error"/>
        </div>
    </div>
        
    <input type="submit" class="button" value="Submit"/>
    <input type="text" name="hp" value="" style="display: none"/>
    <input type="hidden" name="fields[shop_customer_id]" value="{{customer.id}}"/>
    <input type="hidden" name="fields[shop_product_id]" value="{{product.id}}"/>
    <input type="hidden" name="fields[message_type]" value="review"/>
{{ close_form() }}
</div>