{% set on_sale = product.onSale %}
<div class="col-sm-6">
	<h1 itemprop="name">{{ product.name }}</h1>

	<div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		<h2 itemprop="price">
			{% if on_sale %}
				<small class="previous-price">{{ product.fullPrice|currency }}</small>
			{% endif %}
			{{ product.price|currency }}
		</h2>
		
    <div class="star-reviews">
    {{ partial('shop-product-reviews') }}
    </div>

		{% if not product.isOutOfStock() %}
		<link itemprop="availability" href="http://schema.org/InStock" />
		{% else %}
		<link itemprop="availability" href="http://schema.org/OutOfStock" />
		{% endif %}
	</div>
	
	{% if product.description %}
	<div class="excerpt" itemprop="description">
		{{ product.description|unescape }}
	</div>
	{% endif %}

	<div class="shop-product-video">
		<h5>Product Video</h5>
		{{ partial('shop-product-video') }}
	</div>
		
	{{ partial('shop-product-attributes') }}
			
	{% if product.enabled %}
			
			{{ partial('shop-product-options') }}
			{{ partial('shop-product-extras') }}
			
		{% if not product.isOutOfStock() or product.allow_preorder %}
			<input type="hidden" name="productId" value="{{ product.id }}"/>
			<div class="add-cart-holder form-group">
				{{ flash() }}
				<div class="quantity-selector">
					<button class="quantity-btn minus"><i class="fa fa-minus"></i></button>
					<input class="form-control quantity" type="text" value="{{ quantity|default("1") }}" name="quantity"/>
					<button class="quantity-btn plus"><i class="fa fa-plus"></i></button>
				</div>
				<a class="btn btn-prime" href="#" data-ajax-handler="shop:onAddToCart" data-ajax-update="#mini-cart=shop-minicart, #product-page=shop-product, #navbar-totals=shop-minicart-totals">Add to Cart <i class="fa fa-shopping-cart"></i></a>
			</div>
			
		{% else %}
			<div class="not-available">
				<h5>This product is temporarily unavailable</h5>
			<div>
		{% endif %}
		
	{% else %}
		<div class="not-available">
			<h5>This product is not available</h5>
		<div>
	{% endif %}

  <!-- AddThis Button BEGIN -->
		<div id="addThis" class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<h5>share with your friends</h5>
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_pinterest_share"></a>
		<a class="addthis_button_email"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa994f813fedc4b"></script>
	<!-- AddThis Button END -->

<!--
	<div id="sharrre" class="social-buttons">
		<h6 class="share-title">share with your friends</h6>
		<ul class="inline list-inline square-icons">
			<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
		</ul>
	</div>
</div>
-->