{{ open_form({'class': 'custom'}) }}
<div id="cart-summary">
    {% if items.count %}
        <h3 class="cart-summary-title">Order Summary</h3>
        <ul class="price-list list-group">
            {% if totals.discountTotal > 0 %}
                <li class="list-group-item">Discount: <span class="badge">{{ totals.discountTotal|currency }}</span></li>
            {% endif %}
            <li class="list-group-item">Subtotal: <span class="badge">{{ totals.subtotal|currency }}</span></li>
            {% if totals.totalShippingQuote %}
            <li class="list-group-item order-shipping">Shipping: <span class="badge">{{ totals.totalShippingQuote|currency }}</span></li>
            {% endif %}
            <li class="list-group-item">Tax: <span class="badge">{{ totals.totalTax|currency }}</span></li>
            <li class="list-group-item order-total h4 clearfix"><span>Total:</span> <span class="badge">{{ totals.total|currency }}</span></li>
        </ul>

    {% else %}
        <h4 class="md-bordered-title">Your cart is empty!</h4>
        <a class="btn btn-primary col-xs-12" href="{{ site_url('shop') }}">Continue shopping <span class="fa fa-arrow-right"></span></a>
    {% endif %}
    
    {% if step == 'billing_info' %}
        <div>
            <p><a href='#' id="couponCodeToggle">Have a coupon code? Click here.</a></p>
            <div id='couponCodeForm' {% if not theme.openDiscountBox %}style="display:none"{% endif %}>
                <input type="text" id="coupon-code" class="form-control" name="coupon" placeholder="Enter Coupon Code" value="{{ coupon_code }}">
                <input type="hidden" id="billing-current-step" name="step" value="billing_info,shipping_info"/>
                <input type="hidden" id="billing-next-step" name="nextStep" value="billing_info" />
                <div class="clearfix">
                    <a href="#" class="btn apply-discount" data-ajax-handler="shop:checkout" data-ajax-update="#cart-totals=shop-checkout-totals">Apply</a>
                </div>
            </div>
        </div>
    {% endif %}
    
    {% if (step == 'pay') or (step == 'shipping_method') %}
        <h3 class="cart-summary-title">Bill to</h3>
        <ul class="price-list list-group">
            <li class="list-group-item">
                <p>{{ billingInfo.firstName }} {{ billingInfo.lastName }}</p>
                <p>
                    {{ billingInfo.streetAddressLine1 }}<br>
                    {{ billingInfo.city }}, {{ billingInfo.state.code }} {{ billingInfo.postalCode }}<br>
                    {{ billingInfo.country.name }}
                </p>
            </li>
        </ul>
        <h3 class="cart-summary-title">Ship to</h3>
        <ul class="price-list list-group">
            <li class="list-group-item">
                <p>{{ shippingInfo.firstName }} {{ shippingInfo.lastName }}</p>
                <p>
                    {{ shippingInfo.streetAddressLine1 }}<br>
                    {{ shippingInfo.city }}, {{ shippingInfo.state.code }} {{ shippingInfo.postalCode }}<br>
                    {{ shippingInfo.country.name }}
                </p>
            </li>
        </ul>
    {% endif %}
    
     

</div>
{{ close_form() }}