/* CUSTOM 320NY CSS STYLING */
/* 
--------------------

GLOBAL

--------------------
*/ 
body {
  background: #F6F6F6;
  font-family: arial, sans-serif;
  color: #636363;
}
strong {
  font-weight: 600;
}
h1, h2, h3, h4, h5, h6, p, strong {
  font-family: arial, sans-serif;
  color: #636363;
  -webkit-font-smoothing: initial;
}
h1 {
  font-size: 2.5em;
}
a,
a:hover,
a:focus,
.section-title a:hover {
  color: #02a4ef;
  text-decoration: none;
}
img {
  width: 100%;
}
#page-content {
  background: #F6F6F6;
}
#cart, #receipt, #order, #new-products, #featured-products, #shop {
  background: #F6F6F6;
}
.btn {
  display: inline-block;
  min-width: 80px;
  padding: 11px 20px 10px;
  font-size: 1.1em;
  color: #fff;
  border-radius: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.btn:focus {
  outline: none;
  color: #fff;
}
.btn:hover {
  color: #fff;
}
.btn-prime {
  background: #ff6000;
}
.btn-prime:hover {
  background: #02a4ef;
}
.btn-second {
  background: #02a4ef;
}
.btn-second:hover {
  background: #636363;
}
.btn-simple {
  background: #636363;
}
.btn-simple:hover {
  opacity: .8;
}
.enhanced {
  font-size: 1.3em;
}
.success {
  background: #02a4ef;
  padding: 4px 10px;
  color: #fff;
  border: none;
  clear: both;
}
.simple-page-wrapper .simple-page-content {
  padding: 1% 4% 2%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.password-restore {
  margin-top: 5%;
}
.col-split-2:before {
  background: none;
}
.modal-header {
  padding-bottom: 0;
  border-bottom: 0;
}
.modal-body {
  padding-top: 10px;
}
.container .jumbotron {
  padding: 1% 10% 0 27%;
  text-align: left;
}
.container .jumbotron h1 {
  font-size: 3em;
  text-shadow: none;
}
.container .jumbotron p {
  font-size: 1.2em;
}
/* 
--------------------

HEADER

--------------------
*/ 
.navbar-default {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.navbar-default .container {
  box-shadow: none;
  border: none;
}
.navbar .container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto 10px;
}
.navbar .navbar-header .navbar-brand {
  padding-top: 3.4%;
}
.navbar > .container .navbar-brand img {
  width: 150px;
}
.navbar-default .navbar-utils .cart-btn {
  min-width: 60px;
  background: #ff6000;
  border: none;
  border-radius: 0 0 12px 12px;
}
.cart-btn .fa-shopping-cart {
  position: relative;
  left: -3px;
}
.navbar-default .navbar-utils .cart-btn:hover {
  background: #02a4ef;
}
.navbar-header .navbar-brand {
  padding: 12px 0 0;
}
.navbar-default .navbar-nav#main-nav li a {
  font-weight: 600;
  color: #02a4ef;
}
.navbar-default .navbar-nav#main-nav li .store-nav {
  color: #ff6000;;
}
.navbar-default .navbar-utils > ul > li > .btn:not(.cart-btn) {
  padding: 26px 15px 15px;
  color: #868485;
}
.nav > li > a {
  padding: 10px 12px;
}
#mini-cart .subtotal {
  float: none;
  margin-bottom: 4%;
}
.mini-cart-totals .btn {
  margin-bottom: 5%;
}
.mini-cart-totals .btn.btn-prime {
  margin-bottom: 0;
}
.navbar-default #navbar-totals.active {
  background: #02a4ef;
}
.no-radius {
  border-radius: 0 !important;
}
/* 
--------------------

HOME

--------------------
*/
#home-banner {
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
#home-banner .carousel-control {
  z-index: 100;
}
#home-banner .carousel-control .fa {
  text-shadow: 0 1px 2px #000;
}
.carousel-indicators {
  display: none;
}
.carousel-indicators li {
  border-color: #02a4ef;
}
.carousel-indicators .active {
  background-color: #02a4ef;
}
.carousel-video {
  display: none;
  position: absolute;
  left: 104px;
  bottom: 150px;
}
.carousel-video img {
  width: 229px;
}
.carousel-cta {
  position: absolute;
  bottom: 0;
  right: 0;
}
.carousel-cta a {
  display: inline-block;
  padding: 7px 10px;
  border-radius: 14px 0 0 0;
  text-transform: uppercase;
  background: #02a4ef;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: .9em;
}
.carousel-cta a:hover {
  opacity: .8;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  border-radius: 10px;
}
.news {
  padding: 0 10px 20px;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
.news span {
  display: inline;
  position: relative;
  top: -10px;
  padding: 10px 20px;
  font-size: .8em;
  color: #fff;
  background: #02a4ef;
  border-radius: 5px;
  font-weight: 600;
}
.news img {
  display: inline-block;
  width: 100%;
}
.home-link-section {
  padding-bottom: 0;
}
.home-link-callout {
  padding: 0 10px 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
.home-link-callout img {
  display: block;
  width: 177px;
  margin: 0 auto;
}
.home-link-callout-text {
  width: 100%;
  height: auto;
  text-align: center;
}
.home-link-callout strong {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.1em;
  color: #636363;
}
.home-link-callout a {
  color: #02a4ef;
}
.home-carousel-2-wrapper {
  padding-bottom: 40px;
}
#home-carousel-2 {
  text-align: center;
}
#home-carousel-2 .fun-facts {
  position: relative;
  top: -10px;
  padding: 10px 20px;
  font-size: .8em;
  color: #fff;
  background: #02a4ef;
  border-radius: 5px;
  font-weight: 600;
}
.product-holder .product-item {
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.product-holder {
  margin-bottom: 0;
}
#featured-products h2 {
  margin-top: 40px;
  color: #cfcfcf;
  background: #F6F6F6;
}
#featured-products span {
  background: #F6F6F6;
}
#featured-products .product-price span {
  background: #fff;
}
.carousel-inner {
  border-radius: 10px;
}
.carousel-caption {
  text-shadow: none;
}
#home-banner .carousel-caption h3 {
  margin: 0;
  font-size: 2em;
  color: #777;
}
#home-banner .carousel-caption p {
  margin: 13% 0 5%;
  font-size: 1.3em;
}
#home-banner .carousel-caption a {
  display: inline-block;
  color: #02a4ef;
  font-weight: 600;
}
#home-banner .carousel-caption strong {
  display: block;
  margin: 13% 0 7%;
  font-size: 2.3em;
  line-height: 1;
}
#home-banner .carousel-caption span {
  display: block;
  font-size: 1.3em;
  font-weight: 200;
}
#home-banner .carousel-caption .author {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 1em;
}
#home-banner .addthis_toolbox {
  margin-top: 20px;
}
/*
a.btn.btn-default.btn-quick-view.hidden-xs,
a.btn.btn-danger.btn-add-cart {
  display: inline-block !important;
  margin: 0 !important;
  opacity: 1 !important;
}
a.btn.btn-danger.btn-add-cart {
  background: #ff6000;
  border: none;
}
a.btn.btn-default.btn-quick-view.hidden-xs {
  background: #02a4ef;
  border: none;
}
*/
.product-item .buttons-holder {
  display: block;
}
/* 
--------------------

THE PROBLEM

--------------------
*/
.the-problem {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
.the-problem-nav {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}
.the-problem-nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
}
.the-problem-nav li {
  display: inline-block;
  margin: 0;
  padding: .7% 1.5%;
  height: 33px;
  list-style-type: none;
  font-family: arial, sans-serif;
  font-weight: 600;
  font-size: .8em;
}
.the-problem-nav li a {
  vertical-align: middle;
  color: #636363;
}
.the-problem-nav li a:hover,
.the-problem-nav li a:focus {
  text-decoration: none;
  color: #02a4ef;
}
.the-problem-nav .buy-now {
  float: right;
  background: #ff6000;
  font-size: .9em;
  border-radius: 0 0 10px 0;
}
.the-problem-nav .buy-now:hover {
  background: #02a4ef;
}
.the-problem-nav .buy-now a,
.the-problem-nav .buy-now a:hover {
  color: #fff;
}
.the-problem img {
  width: 100%;
  border-radius: 10px;
}
.the-problem .first-row {
  margin-top: 80px;
  border-radius: 10px 10px 0 0;
  border-top: 1px solid #ccc;
}
.the-problem .odd-row,
.the-problem .odd-row .problem-left {
  background: #f6f6f6 !important;
}
.the-problem h3 {
  padding-left: 15%;
  font-size: 1.4em;
  line-height: 1.4;
}
.the-problem p {
  padding: 0 15%;
  margin: 5% 0;
  font-size: .95em;
}
.the-problem img {
  width: 100%;
  vertical-align: top;
}
.the-problem .row {
  padding: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.problem-left {
  padding-top: 3%;
}
.problem-left img {
  padding: 1% 0 0 1%;
}
.problem-single-img,
.problem-breeding {
  text-align: center;
}
.problem-single-img img {
  padding: 5% 0;
}
.problem-breeding img {
  padding: 5% 0 0;
}
.problem-single-img h2,
.problem-breeding h2 {
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 600;
}
.problem-breeding p {
  margin-top: 2%;
  margin-bottom: 7%;
}
.video-popup {
  margin-top: 3%;
}
.video-popup img {
  padding: 0 15%;
  border-radius: 0;
}
.acne-right img,
.be-healthier .problem-left img {
  padding: 7% 15% 0;
}
.be-healthier .problem-left img {
  padding-top: 15%;
}
.phonesoap-right img {
  padding: 15% 10% 0;
}
.phonesoap {
  border-radius: 0 0 10px 10px;
}
.phonesoap a {
  display: block;
  width: 90%;
  margin: 0 auto 3%;
  padding: 11px 0 10px;
  font-size: 1.1em;
  color: #fff;
  background: #02a4ef;
  border-radius: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.phonesoap a:hover {
  background: #636363;
}
.phonesoap .btn-cta {
  background: #ff6000;
}
.phonesoap .btn-cta:hover {
  background: #02a4ef;
}
.col-xs-8.problem-right {
  padding-right: 0;
}
/* 
--------------------

DEVICES

--------------------
*/
.devices {
  padding: 40px 0;
}
.devices img {
  width: 100%;
  border-radius: 10px;
}
.devices h3 {
  margin: 0;
  line-height: 1;
  font-weight: 600;
  font-size: 1.7em;
}
.devices .row {
  margin-bottom: 1.5%;
}
.devices hr {
  border-top-color: #ccc;
}
.devices ul,
.devices li {
  margin: 0;
  padding: 0;
}
.devices li {
  list-style-type: none;
}
.devices li a,
.devices .device-item-wrapper a {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
  color: #02a4ef;
  text-decoration: none;
}
.devices li a:hover {
  opacity: .8;
}
.devices .device-wrapper,
.devices .device-item-wrapper {
  margin-bottom: 12%;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
}
.devices .device-item-wrapper {
  padding: 5% 0;
  text-align: center;
}
.devices .device-wrapper {
  padding: 10%;
}
.devices .device-wrapper a {
  display: inline-block;
  margin-top: 3%;
  font-size: 1.1em;
  font-weight: 600;
  color: #02a4ef;
  text-decoration: none;
}
.devices .device-wrapper img {
  border-radius: 10px;
}
.devices .device-wrapper a:hover {
  opacity: .8;
}
.devices .find-out a {
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  color: #02a4ef;
  text-decoration: none;
}
.devices .find-out h3 a {
  text-align: left;
}
.devices .work-with {
  background: #02a4ef;
}
.devices .work-with a {
  color: #fff;
  text-decoration: none;
}
/* 
--------------------

DEVICES - PAGES

--------------------
*/
.devices-page .enhanced {
  font-size: 1.3em;
  margin: 20px 0;
}
.devices-page h1 {
  font-size: 3.5em;
  font-weight: 300;
}
.devices-page h2 {
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 2.5em;
  font-weight: 300;
}
.devices-page img {
  border-radius: 10px;
}
.devices-page strong {
  font-size: 1.2em;
}
.device-section-wrapper {
  width: 100%;
  padding: 0 0 5% 5%;
  background: #fff;
  border-radius: 10px 10px 0 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.device-section-wrapper-alt {
  background: #f6f6f6;
  border-radius: 0 0 10px 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.device-section-wrapper.cases {
  border-radius: 10px;
  border: 1px solid #ccc;
}
.devices-page .device-section-left,
.devices-page .device-section-right {
  display: block;
  width: 100%;
  vertical-align: top;
}
.devices-page .device-section-right {
}
.devices-page .device-section-left {
  padding: 5% 5% 0 0;
}
.device-section-wrapper-alt .device-section-right {
  padding: 0 15% 0 0;
}
.device-section-wrapper-alt .device-section-left {
  padding: 0;
}
.devices-page .logo-text {
  max-width: 150px;
  border-radius: 0;
}
.device-right {
  padding-left: 3%;
}
.devices-page .btn {
  margin-right: 2%;
  margin-top: 2%;
}
/* 
--------------------

FAQ

--------------------
*/
.faq {
  padding: 40px 0;
}
.faq img {
  width: 100%;
  border-radius: 10px;
}
.faq h3 {
  margin: 0;
  line-height: 1;
  font-weight: 600;
  font-size: 1.7em;
}
.faq h6 {
  padding: 0 8% 10%;
  font-size: 1em;
  font-weight: 600;
  color: #02a4ef;
}
.faq .row {
  margin-bottom: 1.5%;
}
.faq hr {
  border-top-color: #ccc;
}
.faq ul,
.faq li {
  margin: 0;
  padding: 0;
}
.faq li {
  list-style-type: none;
}
.faq li a,
.faq .faq-item-wrapper a {
  font-size: 1.1em;
  font-weight: 600;
  color: #02a4ef;
  text-decoration: none;
}
.faq .faq-item-wrapper a {
  font-weight: 300;
}
.faq li a:hover {
  opacity: .8;
}
.faq .faq-wrapper,
.faq .faq-item-wrapper {
  margin-bottom: 12%;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
}
.faq .faq-item-wrapper {
  padding: 5% 0 0;
  text-align: center;
}
.faq .faq-intro {
  padding-top: 10%;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background: #fff;
}
.faq .faq-intro h3 {
  margin-bottom: 10%;
  padding: 0 10%;
}
.faq .faq-intro img {
  border-radius: 0;
}
.faq .faq-wrapper {
  padding: 10%;
  border-radius: 0 0 10px 10px;
}
.faq .faq-wrapper a {
  display: inline-block;
  margin-top: 3%;
  font-size: 1.1em;
  color: #02a4ef;
  text-decoration: none;
}
.faq .faq-wrapper strong {
  display: block;
  font-size: 1.1em;
}
.faq .faq-wrapper a.btn {
  color: #fff;
}
.faq .faq-wrapper img {
  border-radius: 10px;
}
.faq .faq-wrapper a:hover {
  opacity: .8;
}
.faq .faq-wrapper p {
  margin-bottom: 10%;
}
a.faq-contact {
  display: inline-block;
  margin-bottom: 10%;
}
.faq .find-out a {
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  color: #02a4ef;
  text-decoration: none;
}
/* 
--------------------

FAQ - SECTION

--------------------
*/
.faq-breadcrumbs {
  padding: 3.5% 3.5% 0;
  font-size: .9em;
}
.breadcrumbs-right {
  padding: 0 3.5% 7% 0;
}
.faq-breadcrumbs a,
.faq-breadcrumbs span {
  font-weight: 600;
}
.faq-breadcrumbs i {
  margin: 0 1%;
  color: #02a4ef;
  font-weight: 600;
}
.faq-section h1 {
  margin: 0 0 5%;
  font-size: 3.2em;
  font-weight: 300;
}
.faq-section h2 {
  margin: 0 0 5%;
  font-size: 3em;
  font-weight: 300;
}
.faq-section h2 em {
  color: #02a4ef;
  font-weight: 600;
}
.faq-section img {
  border-radius: 10px;
}
.faq-section strong {
  display: block;
  margin-bottom: 5%;
  font-weight: 600;
  font-size: 1.4em;
}
.faq-section .enhanced {
  margin-bottom: 5%;
}
.faq-section-odd,
.faq-section-even {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.faq-section-even {
  background: #f6f6f6;
}
.faq-section-start {
  border-radius: 10px 10px 0 0;
  border-top: 1px solid #ccc;
}
.faq-section-end {
  border-radius: 0 0 10px 10px;
}
.faq-section-left {
  display: block;
  width: 100%;
  padding: 5% 5% 5%;
  vertical-align: top;
}
.faq-section-right {
  display: block;
  width: 100%;
  padding: 5% 5% 5% 0;
  vertical-align: top;
}
.faq-section-text {
  padding-left: 7%;
  padding-right: 7%;
}
.full-img,
.true-full-img {
  padding: 0;
}
.true-full-img img {
  border-radius: 0;
}
.faq-section-start .true-full-img img {
  border-radius: 10px 0 0 0;
}
.faq-section-left.partial-full,
.faq-section-right.partial-full {
  padding: 0;
}
.complete-solution .btn {
  width: 100%;
  margin: 2% 0;
}
.wholesale-wrapper .faq-section-odd {
  border-radius: 10px;
}
.wholesale {
  width: 100%;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
.wholesale-left {
  display: block;
  width: 100%;
  padding: 3% 3% 3% 5%;
  border-top: 1px solid #ccc;
  vertical-align: top;
}
.wholesale-right {
  display: block;
  width: 100%;
  padding: 3%;
  border-top: 1px solid #ccc;
  vertical-align: top;
}
.wholesale h3 {
  font-size: 1.3em;
  font-weight: 600;
}
.our-story .faq-section-text img {
  max-width: 324px;
  margin-bottom: 5%;
}
.faq-section-right.our-story-img{
  padding: 8% 13% 2% 7%;
}
.faq-section-left.our-story-img {
  padding: 8% 7% 2% 13%;
}
.faq-section-start .faq-section-right.our-story-img {
  padding-top: 0;
}
.faq-section-end .faq-section-left.our-story-img {
  padding: 5% 3% 2% 13%;
}
/* 
--------------------

CONTACT

--------------------
*/
.contact-content {
  padding: 1% 4% 2%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.contact-wrapper h1 {
  display: inline-block;
}
.contact-wrapper .social-icons {
  display: block;
  text-align: left;
  clear: both;
}
.contact-wrapper .social-icons img {
  max-width: 35px;
}
.contact-left-right-wrapper {
  width: 100%;
  border-top: 1px solid #ccc;
  clear: both;
}
.contact-left-right-wrapper strong {
  display: block;
  margin: 3% 0;
  font-size: 1.3em;
}
.contact-left {
  display: block;
  width: 100%;
  padding: 2% 3% 2% 0;
  vertical-align: top;
}
.contact-right {
  display: block;
  width: 100%;
  padding: 5%;
  vertical-align: top;
}
.contact-right strong {
  margin: 0 0 5%;
  border-bottom: 1px solid #ccc;
}
/* 
--------------------

WARRANTY & PRIVACY POLICY

--------------------
*/
.warranty-content h2 {
  font-size: 3em;
}
.warranty-content strong {
  display: block;
  margin: 3% 0 1%;
  font-size: 1.3em;
}
/* 
--------------------

RECEIPT

--------------------
*/ 
#receipt {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.receipt-header {
  margin: 0 20px 20px;
}
/* 
--------------------

PRODUCTS

--------------------
*/
.reviews {
  margin: 5% 0;
  max-width: 600px;
  clear: both;
}
.reviews button {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 3px;
    padding: 6px 12px;
    color: #fff;
    font-size: 12px;
    background: #02a4ef;
    border-radius: 6px;
}
.reviews .star {
    width: 16px;
}
.reviews .description {
    color: #999;
    font-size: 11px;
}
#addThis {
  float: right;
  margin-top: 30px;
  margin-bottom: 31px;
}
#addThis h5 {
  margin-top: 0;
}
#product-images .item.active img,
.carousel-inner {
  border-radius: 0;
}
.categories-group a:hover {
  background: #02a4ef;
}
.categories-group a:hover .badge {
  color: #02a4ef;
}
#single-product .breadcrumb {
  position: static;
}
#single-product .hidden-xs {
  display: inline-block !important;
}
#single-product {
  margin-top: 80px;
  padding: 1% 0;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}
#single-product h1 {
  margin: 0;
  font-size: 2.8em;
  font-weight: 600;
}
#single-product .price h2 {
  font-weight: 400;
  color: #ff6000;
}
#single-product .price p {
  padding-right: 3%;
  font-weight: 400;
}
.shop-product-video {
  margin: 3% 0;
}
.shop-product-video img {
  max-width: 151px;
}
.gallery-thumbs.list-inline {
  margin-left: 15px;
}
.add-cart-holder .quantity-selector .quantity-btn {
  padding: 13px 10px 12px;
}
.add-cart-holder .btn-prime {
  margin-left: 4%;
}
#product-page .excerpt {
  padding-right: 2%;
}
#product-page .excerpt .bigger {
  font-size: 1.3em;
}
#product-page .excerpt .bigger em {
  color: #02a4ef;
  font-weight: 600;
}
#product-page .excerpt ul {
  padding-left: 16px;
  margin-bottom: 12px;
}
.product-marketing {
  clear: both;
  border-top: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
}
.product-marketing .section {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.product-marketing #checkoutpolish,
.product-marketing #checkoutpatch,
.product-marketing #checkoutcharger,
.product-marketing #patch3,
.product-marketing #iring7 {
  margin-bottom: 40px;
  border-radius: 0 0 10px 10px;
}
.product-marketing img {
  width: 65%;
  height: 65%;
  border-radius: 10px;
}
.product-marketing .smallCol {
  display: inline-block;
  width: 34%;
  padding-top: 5%;
  padding-right: 3%;
  vertical-align: top;
}
.product-marketing h2 {
  margin-top: 0;
  font-size: 3em;
}
.product-marketing h2 em {
  font-weight: 600;
  color: #02a4ef;
}
#phonesafe,
#howeffective,
#specifications {
  background: #f6f6f6;
}
#hereshow,
#chargeany,
#instructions,
#checkoutpolish,
#sanitizemultiple,
#checkoutcharger,
#smudge,
#lasting,
#polishspecs,
#germresistant,
#patch2,
#cablespec {
  background: #fff;
}
#phonesafe,
#germguardsummary,
#first,
#storemultiple,
#iring1 {
  border-radius: 10px 10px 0 0;
}
#specifications .smallCol {
  width: 40%;
}
#checkoutpolish .smallCol {
  padding-top: 22%;
}
#polishspecs .smallCol {
  padding-top: 15%;
}
#checkoutpatch .smallCol {
  padding-top: 12%;
}
#specifications img {
  width: 59%;
  height: 59%;
}
#clean-anything img,
#checkoutcharger .btn {
  width: 100%;
}
#imawake img,
#chargemultiple img,
#thinnest img {
  position: relative;
  right: -7px;
}
#tabletsoapcontact img {
  width: 40%;
  margin-top: 10.5%;
  padding-bottom: 1px;
}
.product-marketing #storemultiple img {
  border-radius: 10px 0 0 0;
}
#tabletsoapcontact .smallCol {
  width: 59%;
  padding-left: 3%;
}
#tabletsoapcontact .page-section {
  padding: 0;
  margin-bottom: 3%;
}
.product-marketing #howeffective .smallCol,
.product-marketing #imawake .smallCol,
.product-marketing #specifications .smallCol,
.product-marketing #first .smallCol,
.product-marketing #natural .smallCol,
.product-marketing #instructions-polish .smallCol,
.product-marketing #checkoutpatch .smallCol,
.product-marketing #thinnest .smallCol,
.product-marketing #patch2 .smallCol {
  padding-right: 0;
}
.product-marketing #howeffective .smallCol,
.product-marketing #imawake .smallCol,
.product-marketing #specifications .smallCol,
.product-marketing #chargemultiple .smallCol,
.product-marketing #first .smallCol,
.product-marketing #natural .smallCol,
.product-marketing #instructions-polish .smallCol,
.product-marketing #checkoutpatch .smallCol,
.product-marketing #thinnest .smallCol,
.product-marketing #patch2 .smallCol
 {
  padding-left: 3%;
}
.product-marketing #storemultiple .smallCol,
.product-marketing #sanitizemultiple .smallCol {
  padding-right: 8%;
}
#instructions dd,
#instructions dt,
#instructions-polish dd,
#instructions-polish dt,
#patch3 dd,
#patch3 dt {
  display: inline;
}
#instructions dt,
#instructions-polish dt,
#patch3 dt {
  margin-right: 5px;
}  
#instructions dl,
#instructions-polish dl,
#patch3 dl {
  margin-bottom: 3%;
  padding-right: 3%;
}
#checkoutpatch .btn {
  margin-top: 3%;
}
#checkoutcharger p {
  margin-bottom: 3%;
}
.product-marketing #specifications h4 {
  margin: 15px 0 5px;
  font-size: 1.1em;
}
.sub-nav {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}
.sub-nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
}
.sub-nav li {
  display: inline-block;
  margin: 0;
  padding: .7% 1.5%;
  height: 33px;
  list-style-type: none;
  font-family: arial, sans-serif;
  font-weight: 600;
  font-size: .8em;
}
.sub-nav li a {
  vertical-align: middle;
  color: #636363;
}
.sub-nav li a:hover,
.sub-nav li a:focus {
  text-decoration: none;
  color: #02a4ef;
}
.sub-nav .buy-now {
  float: right;
  background: #ff6000;
  font-size: .9em;
  border-radius: 0 0 10px 0;
}
.sub-nav .buy-now:hover {
  background: #02a4ef;
}
.sub-nav .buy-now a,
.sub-nav .buy-now a:hover {
  color: #fff;
}
.product-item .buttons-holder .btn-add-cart,
.product-item .buttons-holder .btn-quick-view {
  display: none;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  opacity: 1;
  border: none;
}
.product-item .buttons-holder .btn-add-cart {
  width: 139px;
  padding-left: 0;
  padding-right: 0;
  background: #ff6000;
}
.product-item .buttons-holder .btn-add-cart:hover {
  background: #02a4ef;
}
.product-item .buttons-holder .btn-quick-view {
  min-width: initial;
  padding-left: 0;
  padding-right: 0;
  width: 65px;
  background: #02a4ef;
}
.product-item .buttons-holder .btn-quick-view:hover {
  background: #636363;
}
.wistia-thumb {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.wistia-thumb img {
  border-radius: 0;
  max-width: 250px;
  height: 100%;
}
/* 
--------------------

CART / CHECKOUT

--------------------
*/ 
#cart, #receipt, #order, #new-products, #shop {
  background: #fff;
}
.quantity-selector .quantity-btn {
  padding: 13px 4px 12px;
  border: none;
  background: #636363;
  color: #fff;
}
section#checkout {
  margin-top: 40px;
}
#checkout-progress .breadcrumb .active {
  background: #02a4ef;
}
#checkout-progress .breadcrumb .active:after {
  border-left-color: #02a4ef;
}
.custom-radio:checked + label::before {
  background: #02a4ef;
}
#foo:checked,
.custom-radio + label::before {
  border-color: #02a4ef;
}
.btn-simple.btn-form-mirror {
  min-width: initial;
  padding: 10px 10px 8px;
  border-radius: 0;
}
#cart-content .btn-continue-shopping,
#cart-content .btn-prime {
  width: 100%;
}
#cart-content .btn-continue-shopping {
  margin-top: 8%;
}
#cart-content .col-xs-12.col-md-3 .btn {
  padding-left: 0;
  padding-right: 0;
}
#cart-content .col-xs-12.col-md-3 .list-group {
  margin-bottom: 8%;
}
.seal-verification {
  position: relative;
  top: 5px;
}
.seal-verification .authorize-seal img {
  width: 90px;
}
.seal-verification .paypal-seal img {
  height: 72px;
  width: 72px;
}
div.AuthorizeNetSeal {
  display: inline-block;
}
.payment-method-wrapper .cc-img {
  width: 190px;
}
.payment-method-wrapper .paypal-img {
  width: 58px;
}
.accepted-img {
  max-width: 424px;
}
.cart-security {
  margin-top: 5%;
  padding: 3% 0 1%;
  vertical-align: top;
  border-top: 1px solid #ccc;
}
.cart-security .seal-verification {
  display: inline-block;
  position: static;
}
.cart-security .seal-verification .paypal-seal img {
  height: 72px;
  width: 72px;
}
.cart-security div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.cart-security strong {
  display: inline-block;
  margin-bottom: 2%;
}
.free-shipping {
  padding: 5%;
  margin-top: 8%;
  border-top: 2px solid #02a4ef;
}
.free-shipping p {
  margin: 0;
  text-align: center;
  color: #636363;
  font-style: italic;
}
/* 
--------------------

FOOTER

--------------------
*/ 
#page-footer {
  padding: 10px 0 50px;
  background: #02a4ef;
  font-family: arial, sans-serif;
}
.footer-accent {
  display: block;
  position: relative;
  top: -30px;
  width: 55px;
  margin: 0 auto;
}
.footer-left {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.footer-right {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.footer-left p,
.footer-right p {
  margin-top: 15px;
  text-align: left;
  font-size: 1.2em;
  color: #fff;
}
.footer-left-content,
.footer-right-content {
  width: 90%;
  margin: 0 auto;
}
.footer-left-img,
.footer-right-img {
  width: 100%;
}
.social-icons {
  margin-top: 15px;
  text-align: left;
}
.social-icons img {
  display: inline-block;
  margin: 0 10px 20px 0;
  max-width: 55px;
}
.mailchimp {
  margin-top: 20px;
  text-align: left;
}
.mailchimp input {
  vertical-align: middle;
}
.mailchimp input#mce-EMAIL {
  display: block;
  width: 100%;
  padding: 10px 5px 8px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  line-height: 1;
  color: #636363;
  background: #fff;
  text-align: center;
}
.mailchimp input#mc-embedded-subscribe {
  display: block;
  padding: 11px 0 10px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  background: #0958a5;
  border-radius: 20px;
  border: none;
}
.mailchimp input::-webkit-input-placeholder {
  font-size: 1.1em;
}
.mailchimp input:-moz-placeholder {
  font-size: 1.1em;
}
.mailchimp input::-moz-placeholder {
  font-size: 1.1em;
}
.mailchimp input:-ms-input-placeholder { 
  font-size: 1.1em;
}
.footer-bottom {
  padding-top: 30px;
  clear: both;
  border: none;
  text-align: center;
}
.footer-bottom-item-wrapper {
  width: 100%;
}
.footer-bottom-item {
  display: inline-block;
  width: 100%;
  padding: 4% 1%;
  vertical-align: top;
  border-bottom: 1px solid #fff;
}
.footer-bottom-item span {
  font-size: .7em;
}
.footer-bottom-item strong {
}
.footer-bottom-item a {
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
}
.footer-bottom-item a:hover {
  text-decoration: none;
}
.footer-bottom-item img {
  width: 100%;
  max-width: 130px;
}
.copyright {
  width: 100%;
  margin-right: 0;
  padding-top: 0;
  padding-left: 0;
  color: #fff;
  border-left: none;
}
.copyright a {
  font-weight: normal;
  font-size: 1em;
}
.copyright strong {
  color: #fff;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe {
  width: 100% !important;
}
/* 
--------------------

MEDIA QUERIES

--------------------
*/ 
@media (min-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
  .navbar-default #navbar-totals {
    border-left: none;
  }
  .navbar-default #navbar-totals {
    padding: 26px 15px 15px;
  }
  .navbar .navbar-header .navbar-brand {
    padding-top: 12px;
  }
  .navbar > .container .navbar-brand img {
    width: 100%;
  }
  .carousel-indicators {
    display: block;
  }
  .carousel-cta {
    right: 60px;
  }
  .carousel-cta a {
    padding: 12px 24px;
    font-size: 1.3em;
    border-radius: 14px 14px 0 0;
  }
  .carousel-video {
    display: block;
  }
  .the-problem-nav ul {
    max-width: 750px;
  }
  .sub-nav ul {
    max-width: 720px;
  }
  .devices-page .device-section-left,
  .devices-page .device-section-right {
    display: inline-block;
    width: 50%;
  }
  .faq-section-left,
  .faq-section-right {
    display: inline-block;
    width: 50%;
  }
  .full-img {
    padding: 5% 0 0 0;
  }
  .faq-section-left.partial-full {
    padding: 5% 0 5% 3%;
  }
  .faq-section-right.partial-full {
    padding: 5% 3% 5% 0;
  }
  .wholesale-left {
    display: inline-block;
    width: 30%;
  }
  .wholesale-right {
    display: inline-block;
    width: 70%;
    border-left: 1px solid #ccc;
  }
  .contact-wrapper .social-icons {
    display: inline-block;
    float: right;
    text-align: right;
    clear: none;
  }
  .contact-wrapper .social-icons img {
    max-width: 55px;
  }
  .contact-wrapper h1 {
    float: left; 
  }
  .contact-left {
    display: inline-block;
    width: 25%;
  }
  .contact-right {
    display: inline-block;
    width: 75%;
    border-left: 1px solid #ccc;
  }
}
@media (min-width: 992px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-default #main-nav > li.active,
  .navbar-default #main-nav > li:hover:not(.active) {
    box-shadow: inset 0 5px 0 0 #02a4ef;
  }
  .navbar-left {
    float: right !important;
    margin-right: 10px;
  }
  .navbar-default #search-form .search-btn {
    padding: 6px 12px 8px;
  }
  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 15px;;
  }
  #home-banner .carousel-caption {
    top: 40px;
    left: 550px;
    padding-right: 40px;
    right: inherit;
    text-align: left;
    text-shadow: none;
  }
  #home-carousel-2 .carousel-caption {
    display: inline-block;
    position: static !important;
    width: 48%;
    padding: 0 3% 0 0;
    text-align: left;
    vertical-align: top;
  }
  #home-carousel-2 .carousel-inner img {
    display: inline-block;
    width: 42%;
    margin-right: 5%;
    text-align: left;
  }
  .home-link-callout {
    height: 117px;
    padding: 0 10px 0 0;
  }
  .home-link-callout-text {
    float: left;
    width: 55%;
    margin-left: 5%;
    text-align: left;
  }
  .home-link-callout img {
    width: 40%;
    max-width: 177px;
    min-width: 177px;
    margin: inherit;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .footer-left {
    float: left;
    width: 50%;
    border-right: 1px solid #fff;
    border-bottom: none;
    margin-bottom: 0;
  }
  .footer-right {
    float: right;
    width: 50%;
    border-bottom: none;
  }
  .mailchimp input#mce-EMAIL {
    display: inline-block;
    width: 50%;
    padding: 10px 24px 8px;
    text-align: left;
    margin-bottom: 0;
  }
  .mailchimp input#mc-embedded-subscribe {
    display: inline-block;
    padding: 11px 24px 10px;
    width: 30%;
  }
  .footer-bottom {
    text-align: left;
  }
  .footer-bottom-item-wrapper {
    width: 100%;
  }
  .footer-bottom-item {
    display: inline-block;
    width: 12.5%;
    padding: 1% .5% 0 1%;
    vertical-align: top;
    border-left: 1px solid #fff;
    border-bottom: none;
  }
  .footer-bottom-item span {
    font-size: .7em;
  }
  .footer-bottom-item strong {
  }
  .footer-bottom-item a {
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
  }
  .footer-bottom-item a:hover {
    text-decoration: none;
  }
  .footer-bottom-item img {
    width: 100%;
    max-width: 130px;
  }
  .copyright {
    width: 20%;
    margin-right: 0;
    padding-top: 0;
    padding-left: 5%;
    color: #fff;
    border-left: none;
  }
  .copyright a {
    font-weight: normal;
    font-size: 1em;
  }
  .the-problem-nav ul {
    max-width: 970px;
  }
  .sub-nav ul {
    max-width: 940px;
  }
  .product-item .buttons-holder .btn-add-cart,
  .product-item .buttons-holder .btn-quick-view {
    display: inline-block;
  }
}
@media (min-width: 1300px) {
 .the-problem-nav ul {
    max-width: 1100px;
 }
 .sub-nav ul {
    max-width: 1070px;
 }
}

a.apply-discount {
        color: #fff;
        font-size: 12px;
        background: #02a4ef;
        padding: 6px 12px;
        border-radius: 6px;
        display: inline-block;
        margin-top: 10px;
    }