---
action: 'shop:orders'
template: inner
protocol: all
published: true
name: Orders
url: /orders/
---
<div class="simple-page-wrapper">
  <div class="row page-section">
    <div class="col-md-12">
      <div class="simple-page-content">
      	<h2>My Orders</h2><br>

		    {% if not orders or not orders.count %}
		      	<br><br>
		      	<h3>No orders found :(</h3>
		    {% else %}

				<table class="table table-bordered table-striped">
				  <thead>
				  <tr>
				    <th class="h6">Order #</th>
				    <th class="h6">Date</th>
				    <th class="h6">Status</th>
				    <th class="h6">Total</th>
				  </tr>
				  </thead>
				  <tbody>
				  {% for order in orders if not order.is_quote %}
				    {% set url = root_url('/order/'~order.id) %}
				    <tr>
				      <td><a href="{{ url }}">{{ order.number }}</a></a></td>
				      <td><a href="{{ url }}">{{ order.created_at.format('M jS, Y') }}</a></td>
				      <td><a href="{{ url }}">{{ order.orderStatus.name }}</a></td>
				      <td><a href="{{ url }}"><i>{{ order.total|currency }}</i></a></td>
				    </tr>
				  {% endfor %}
				  </tbody>
				</table>
		    {% endif %}
      </div><!-- end simple-page-content -->
    </div><!-- end col-md-12 -->
  </div><!-- end row page-section -->
</div><!-- end simple-page-wrapper -->