---
description: 'Discover safe and effective ways to clean, sanitize and polish your electronics and devices.'
template: home
protocol: all
published: true
title: 'UV Light Sanitizing | Clean & Polish Devices with PhoneSoap'
name: Home
url: /
keywords: 'uv light cleaning, phone cleaning, device cleaning, clean my phone, iphone clenaing'
---
<div class="page-section row">
	<div class="col-xs-12">

		<div id="home-banner">
			<div id="home-carousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#home-carousel" data-slide-to="1"></li>
					<li data-target="#home-carousel" data-slide-to="2"></li>
					<li data-target="#home-carousel" data-slide-to="3"></li>
					<li data-target="#home-carousel" data-slide-to="4"></li>

				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<a href="https://www.kickstarter.com/projects/119736681/phonesoap-xl-tablet-uv-sanitizer-and-universal-cha/description"><img src="{{ 'img/banner-PSXLINtro@2x.jpg'|theme_resource }}" alt="" /></a>
						<div class="carousel-cta"><a href="https://www.kickstarter.com/projects/119736681/phonesoap-xl-tablet-uv-sanitizer-and-universal-cha/description">Back on Kickstarter</a></div><!-- end carousel-cta -->
					</div><!-- end item -->
					<div class="item">
						<img src="{{ 'img/banner-discover@2x.jpg'|theme_resource }}" alt="" />
						<div class="carousel-cta"><a href="/phonesoap-videos/">VIEW OUR VIDEOS</a></div><!-- end carousel-cta -->
						<!--<div class="jumbotron carousel-caption"></div>-->
					</div><!-- end item -->
					<div class="item">
						<a href="/how-dirty-are-cell-phones"><img src="{{ 'img/banner-why@2x-alt.jpg'|theme_resource }}" alt="" /></a>
						<div class="carousel-cta"><a href="/how-dirty-are-cell-phones">DIRTY PHONE?</a></div><!-- end carousel-cta -->
						<div class="carousel-video">
							{{ partial('video-modal', {'thumb_img': 'img/video-thumb.jpg'|theme_resource,'video_url': 'https://www.youtube.com/embed/TSQSblwFjYs'}) }}
						</div>
					</div><!-- end item -->
					<div class="item">
						<a href="/product/phonesoap-charger?options[2]=2-fc996100-ee45-4237"><img src="{{ 'img/2.0banner-sanitizecharge@2x.jpg'|theme_resource }}" alt="" /></a>
						<div class="carousel-cta"><a href="/product/phonesoap-charger?options[2]=2-fc996100-ee45-4237">THE SOLUTION</a></div><!-- end carousel-cta -->
					</div><!-- end item -->
					<div class="item">
						<a href="/products?orderBy=sku"><img src="{{ 'img/banner-banishbacteria@2x.jpg'|theme_resource }}" alt="" /></a>
						<div class="carousel-cta"><a href="/products?orderBy=sku">SHOP OUR PRODUCTS</a></div><!-- end carousel-cta -->
					</div><!-- end item -->

				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#home-carousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="right carousel-control" href="#home-carousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div><!-- end home-carousel -->
		</div><!-- end home-banner -->
	</div><!-- col-xs-10 col-xs-offset-1 -->
</div><!-- end page-section row -->

<div class="row">
	<div class="col-xs-12">
		<section class="news">
			<span>IN THE NEWS</span>
	  	<img src="{{ 'img/IntheNews3.jpg'|theme_resource }}" alt="" />
	  </section>
	</div><!-- col-xs-10 col-xs-offset-1 -->
</div><!-- end page-section row -->

<section id="featured-products" class="row">
	<h2 class="section-title"><span>Featured Products</span></h2>
		{% set featuredCollection = 'featured'|collection %}
		{% if featuredCollection %}

			{% for product in featuredCollection.products %}
				<div class="col-sm-4 product-holder">

		            {{ partial('shop-grid-item', { 'product': product }) }}

		        </div>
			{% endfor %}

		{% else %}
			<p>The product collection was not found. Please create this group on the Shop/Collections page.</p>
		{% endif %}
</section>

<div class="row page-section home-link-section">
	<div class="col-sm-6">
		<div class="home-link-callout">
			<img src="{{ 'img/TabletSoapLockerfull.jpg'|theme_resource }}">
			<div class="home-link-callout-text">
				<strong>TABLETSOAP LOCKER</strong>
				<a href="/product/tabletsoap-locker">Multiple Device Storing &amp; Sanitizing</a>
			</div><!-- end home-link-callout-text -->
		</div>
	</div><!-- col-xs-6 -->

	<div class="col-sm-6">
		<div class="home-link-callout">
			<img src="{{ 'img/hospital.jpg'|theme_resource }}">
			<div class="home-link-callout-text">
				<strong>PHONESOAP IN HEALTHCARE</strong>
				<a href="/product/healthcare-sanitizing-and-disinfecting">Keeping Infection Rates Down</a>
			</div><!-- end home-link-callout-text -->
		</div>
	</div><!-- col-xs-6 -->

	<div class="col-sm-6">
		<div class="home-link-callout">
			<img src="{{ 'img/free-shipping.jpg'|theme_resource }}">
			<div class="home-link-callout-text">
				<strong>FREE SHIPPING</strong>
				<a href="/products?orderBy=sku">View Our Free Shipping Offers &amp; Buy Now</a>
			</div><!-- end home-link-callout-text -->
		</div>
	</div><!-- col-xs-6 -->

	<div class="col-sm-6">
		<div class="home-link-callout">
			<img src="{{ 'img/videos.jpg'|theme_resource }}">
			<div class="home-link-callout-text">
				<strong>SEE PHONESOAP IN ACTION</strong>
				<a href="/phonesoap-videos/">View Our Videos</a>
			</div><!-- end home-link-callout-text -->
		</div>
	</div><!-- col-xs-6 -->
</div><!-- end page-section row -->

<div class="row home-carousel-2-wrapper">
	<div class="col-xs-12">

		<div id="home-banner">
			<div id="home-carousel-2" class="carousel slide">
  			<span class="fun-facts">FUN FACTS</span>
				<!-- data-ride="carousel" -->
				<!-- Indicators -->
				<!--
				<ol class="carousel-indicators">
					<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#home-carousel" data-slide-to="1"></li>
					<li data-target="#home-carousel" data-slide-to="2"></li>
					<li data-target="#home-carousel" data-slide-to="3"></li>
				</ol>
				-->
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="{{ 'img/infographic1.jpg'|theme_resource }}" alt="" />
						<div class="jumbotron carousel-caption right">
							<p>"When people in New York City were asked which they thought was dirtier -- the sole of your shoe, a toilet seat or a cell phone -- the answer was overwhelmingly the toilet seats. But they were wrong -- your cell phone is more filthy."<span class="author">- ABC News</span></p>
							<a href="/how-dirty-are-cell-phones"><i class="fa fa-chevron-right"></i> Learn Why Your Cell Phone is Filthy</a>
						</div><!-- end carousel-caption -->
					</div>

					<div class="item">
						<img src="{{ 'img/infographic2.jpg'|theme_resource }}" alt="" />
						<div class="jumbotron carousel-caption right">
							<p>"People are just as likely to get sick from their phones as from handles of the bathroom."<span class="author">- Dr. Cain, WSJ</span></p>
							<a href="/product/phonesoap-charger"><i class="fa fa-chevron-right"></i> Clean Your Cell Phone With PhoneSoap</a>
						</div><!-- end carousel-caption -->
					</div>

					<div class="item">
						<img src="{{ 'img/infographic3.jpg'|theme_resource }}" alt="" />
						<div class="jumbotron carousel-caption right">
							<p>"1 in 6 mobile phones is contaminated with fecal matter."<span class="author">- CNN</span></p>
							<a href="/how-does-uv-light-clean"><i class="fa fa-chevron-right"></i> Learn How UV Light Sanitizes</a>
						</div><!-- end carousel-caption -->
					</div>

					<div class="item">
						<img src="{{ 'img/infographic4.jpg'|theme_resource }}" alt="" />
						<div class="jumbotron carousel-caption right">
							<strong>Most people don't know they have poop on their phones</strong>
							<span>Share the wealth of knowledge you have now received. Seriously, your friends will thank you for it.</span>

							<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
							<a class="addthis_button_facebook at300b" title="Facebook" href="#"><span class="at4-icon aticon-facebook" style="background-color: rgb(48, 88, 145);"><span class="at_a11y">Share on facebook</span></span></a>
							<a class="addthis_button_twitter at300b" title="Tweet" href="#"><span class="at4-icon aticon-twitter" style="background-color: rgb(44, 168, 210);"><span class="at_a11y">Share on twitter</span></span></a>
							<a class="addthis_button_pinterest_share at300b" target="_blank" title="Pinterest" href="#"><span class="at4-icon aticon-pinterest_share" style="background-color: rgb(200, 40, 40);"><span class="at_a11y">Share on pinterest_share</span></span></a>
							<a class="addthis_button_email at300b" target="_blank" title="Email" href="#"><span class="at4-icon aticon-email" style="background-color: rgb(115, 138, 141);"><span class="at_a11y">Share on email</span></span></a>
							<a class="addthis_button_compact at300m" href="#"><span class="at4-icon aticon-compact" style="background-color: rgb(252, 109, 76);"><span class="at_a11y">More Sharing Services</span></span></a>
							<a class="addthis_counter addthis_bubble_style" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><span></span></a></a>
							<div class="atclear"></div></div>
							<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fa994f813fedc4b"></script>

					  </div><!-- end carousel-inner -->
				  </div>
				</div><!-- end carousel-inner -->

				<!-- Controls -->
				<a class="left carousel-control" href="#home-carousel-2" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="right carousel-control" href="#home-carousel-2" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div><!-- end home-carousel -->
		</div><!-- end home-banner -->
	</div><!-- col-xs-10 col-xs-offset-1 -->
</div><!-- end page-section row -->

<!--
<section id="featured-products" class="page-section row">
	<h2 class="section-title"><span>Featured Products</span></h2>
		{% set featuredCollection = 'featured'|collection %}
		{% if featuredCollection %}

			{% for product in featuredCollection.products %}
				<div class="col-sm-4 product-holder">

		            {{ partial('shop-grid-item', { 'product': product }) }}

		        </div>
			{% endfor %}

		{% else %}
			<p>The product collection was not found. Please create this group on the Shop/Collections page.</p>
		{% endif %}
</section>

<section id="new-products" class="page-section row">
	<h2 class="section-title"><span>What's New</span></h2>
	<div id="product-carousel" class="col-xs-12">
		{% set featuredCollection = 'new'|collection %}
		{% if featuredCollection %}

			{% for product in featuredCollection.products %}
				<div class="product-holder">

		            {{ partial('shop-grid-item', { 'product': product }) }}

		        </div>
			{% endfor %}

		{% else %}
			<p>The product collection was not found. Please create this group on the Shop/Collections page.</p>
		{% endif %}
	</div>
</section>

<div class="page-section text-center">
	<a href="{{ site_url('shop') }}" class="btn btn-primary btn-lg">See All Products</a>
</div>

{{ partial('shop-product-quick-view') }}
-->